@media screen and (min-width: 768px) {
  .operation-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

  .list-card {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
  .footer-menu > h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
  .list-menu {
    padding: 0px 40px;
  }
  .menu {
    width: 90%;
    margin: auto;
    margin-top: -60px !important;
  }

  .order {
    width: 90%;
    margin: auto;
  }
  .global-menu {
    width: 90%;
    margin: auto;
    padding: 20px 50px 10px 50px;
  }
}
@media screen and (min-width: 992px) {
  span > .fa-heart.fa-solid:hover {
    opacity: 1;
  }
  .global-menu .fa-heart.fa-solid:hover {
    opacity: 1;
  }
  .operation-card:hover > h3 i {
    color: #9356dc;
  }
  .operation-card__subtitle:hover {
    background-color: #f2eafb;
  }
  .operation-card {
    width: 30%;
  }
  .btn:hover {
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 3px 5px 5px 5px lighten(black, 50);
  }
  .menu {
    flex-direction: row !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .list-menu {
    width: 40% !important;
    padding: 0px 0px;
  }
}
